mlflow==2.11.3
cffi==1.16.0
cloudpickle==3.0.0
defusedxml==0.7.1
lightgbm==4.3.0
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pandas==2.2.1
psutil==5.9.8
pyarrow==15.0.2
pyyaml==6.0.1
scikit-learn==1.4.1.post1
scipy==1.12.0